body{

    margin:10px 10px 10px 10px;
    padding: 3em 3em;
    background: url('background_cahier2.png');
}

.wrapper {

    padding: 3em 3em;

}

.main-menu {
   text-align:center;
}

.navigation-links {
   font-size: 1em;
}

